.zero-click-sso-status-attributes td.zero-click-sso-status-attribute {
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.zero-click-sso-status-badge {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--d-border-radius);
}

.zero-click-sso-good-value {
  background-color: var(--success);
}

.zero-click-sso-bad-value {
  background-color: var(--danger);
}

.zero-click-sso-info p {
  padding: var(--space-4);
  margin: var(--space-8);
  border-radius: var(--d-border-radius);
}

.zero-click-sso-ready {
  background-color: var(--success);
}

.zero-click-sso-nearly-ready {
  background-color: color-mix(in srgb, var(--success), var(--danger));
}

.zero-click-sso-not-ready {
  background-color: var(--danger);
}
